/* CSS HEX 
--ocean-green: #43bb83;
--pickled-bluewood: #334b5c;
--skeptic: #d2e9de;
--shadow-green: #8bc6ac;
--viridian: #438073;
--vista-blue: #9cd4bc;
--de-york: #68c498;
--blue-bayoux: #506874;
--ocean-green: #3c9474;
--silver-tree: #54bc8c;*/

:root {
  background-color: black;
  color:blanchedalmond;

}

.title {
  text-align: center;
  color: blanchedalmond;
  font-size: 50px;
}

.wrapper {
  display: flex; /* Activer Flexbox */
  flex-direction: column; /* Disposer les éléments verticalement */
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
  width: 100%;
  height: 100vh; /* Utiliser toute la hauteur de la fenêtre */
  text-align: center; /* Centrer le texte à l'intérieur */
}

.content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacement entre les éléments */
}

.img-home img {
  max-width: 20rem;
  height: auto; /* Préserver les proportions de l'image */
}

.green{
  color:#43bb83;
}